# Ignore OS files
.DS_Store
desktop.ini

# Ignore binary, object files
*/*/*/bin/
*/*/*/obj/
main

# Ignore IDE files
*/*/.idea/
.idea
*/*/*.sln.DotSettings.user
*/*/.vs/
*/*/Debug/
*/*/*/Debug/
*/*/*/x64/

# Ignore CMake files
CMakeLists.txt
*/*/cmake-build-debug/
*.o
*.out

# Ignore different text and buffered files
*.txt
*.bin

# Any other stuff, that I've fucked to call
*.suo
