# Ignore OS files
.DS_Store
desktop.ini

# Ignore binary, object files
*/*/*/bin/
*/*/*/obj/
main

# Ignore IDE files
*/*/.idea/
.idea
*/*/*.sln.DotSettings.user

# Ignore CMake files
CMakeLists.txt
*/*/cmake-build-debug/
*.o
*.out
